
#topo {
    background-color: #036;
}

.tittle {
    color: #69c;
}

#medium {
    background-color: rgb(36, 35, 35);
}
/* adicionando essa formatação para incremento */
.text {
    color: blanchedalmond;
}